name: Workflow Release

on:
  workflow_call:
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  Call-Fhir-Workflows :
    uses: ansforge/FIG_ans.workflows/.github/workflows/release_ig_fhir.yml@main
